
@mixin imageProperty($height,$width){
    height: $height;
    width: $width;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
@mixin displayFlex(){
    display: flex;
    align-items: center;
    justify-content: space-between;
}