@import "../../Common/Styles/mixins.scss";

.navbar {
  width: 100%;
  position: absolute;
  // top: 20px;
  @include displayFlex();
  padding: 20px 30px;
  box-sizing: border-box;
}

.section-1 {
  @include displayAlign(20px);
}
.logo {
  background-image: url(../../assets/logo.png);
  @include imageProperty(20px, 80px);
  background-size: 100px;
}

.section-2 {
  @include displayAlign(20px);
}
